<form
  [formGroup]="filtersForm"
  (ngSubmit)="addToTheCommentsList()"
  class="content__form"
>
  <div class="content__form-item">
    <span>Name</span>
    <span class="content__form-error" *ngIf="filtersForm.controls.name.dirty && filtersForm.controls.name.invalid">
      *Only uppercase letters
    </span>
  </div>
  <input formControlName="name" class="content__form-item">
  <div class="content__form-item">
    <span>Price</span>
    <span class="content__form-error" *ngIf="filtersForm.controls.price.dirty && filtersForm.controls.price.invalid">
      *Only number and dot
    </span>
  </div>
  <input formControlName="price" class="content__form-item">
  <div class="content__form-item">
    <span>Date</span>
    <span class="content__form-error" *ngIf="filtersForm.controls.date.dirty && filtersForm.controls.date.invalid">
      *dd/mm/yyyy
    </span>
  </div>
  <input formControlName="date" class="content__form-item">
  <div class="content__form-item">
    <span>Currency</span>
    <span class="content__form-error" *ngIf="filtersForm.controls.currency.dirty && filtersForm.controls.currency.invalid">
      *usd or eur or rub
    </span>
  </div>
  <input formControlName="currency" class="content__form-item">
  <button type="submit" class="content__form-item" [disabled]="!filtersForm.valid">
    Save
  </button>
</form>
<div class="content__comments">
  <div class="content__comments-filters">
    <span>Search</span>
    <input [(ngModel)]="search">
  </div>
  <div class="content__comments-filters">
    <span>Limit to</span>
    <input type="number" [(ngModel)]="limit">
  </div>
  <div *ngFor="let comment of comments$ | async | search : search; index as i">
    <app-comment *ngIf="i < limit" [comment]="comment">
    </app-comment>
  </div>
</div>
